<h1>Files</h1>

<p>Submit a file to upload to upload to amazon s3 services.</p>

<form action="http://localhost:3000/api/v1/items"
      enctype="multipart/form-data"
      method="post"
      class="form-signin">
<p>
What file are you sending? <input type="file" class="" name="file"><br>
</p>
<input type="submit" value="Upload" class="btn btn-lg btn-primary btn-block mt-4">
</form>